// Only used in the menu page
.menu-container {
  background-color: var(--color-gray-light);
  border-radius: var(--rounded-md) var(--rounded-md) 0 0;
  margin-top: calc(var(--rounded-md) * -1);
  min-height: 50rem;
  position: relative;
  @include container;
  @include tablet {
    margin-left: auto;
    margin-right: auto;
    max-width: 90rem;
  }
  @include desktop {
    display: grid;
    // Width of the menu-cards on the menu page
    grid-template-columns: repeat(3, minmax(35rem, 33%));
    max-width: none;
  }
}

// Temporary
.components {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  padding: 3rem 3rem;
}
