.footer {
  background-color: var(--color-gray-dark);
  color: var(--color-white);
  @include container;
  &__title {
    // Font changes inside typography
  }
  &__list {
    display: flex;
    flex-direction: column;
    gap: var(--gap-sm);
  }
  &__icon {
    // Justify the text because icons have different widths
    min-width: 2.5rem;
  }
}
