.header {
  box-shadow: var(--shadow);
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  padding-bottom: var(--padding-extra-sm);
  padding-top: var(--padding-sm);
  place-items: center;
  position: relative;
  text-align: center;

  &__title {
    // ...
  }
  &__link {
    // Size of the icon
    font-size: 2.5rem;
    // Left position
    justify-self: start;
    margin-left: var(--gap);
  }
}
