// Main function is to clip-path in the format of a heart
// Grid is just to make sure everything is centered
// --size defines the size of the heart
.heart {
  clip-path: url(#heart__clip);
  cursor: pointer;
  display: grid;
  height: var(--size);
  place-items: center;
  position: relative;
  transform: scale(1.2);
  width: var(--size);
  --size: 3rem;

  // It's only used to clip-path on the .heart class
  &__svg {
    position: absolute;
  }

  // Container with the Stroke and Fill
  // Just to make sure everything is centered
  &__container {
    display: grid;
    place-items: center;
  }

  // Stroke of the heart
  &__stroke {
    fill: transparent;
    height: 100%;
    stroke: black;
    stroke-width: 4px;
    transform: scale(0.9);
    width: 100%;
  }

  // Animated div to fill up the heart
  &__fill {
    background-image: linear-gradient(
      var(--color-primary),
      var(--color-secondary)
    );
    border-radius: 38%;
    bottom: -100%;
    height: 110%;
    position: absolute;
    width: 110%;
  }

  // Animation is happening when the .heart is hovered
  &:hover &__fill {
    animation: wave 2s forwards, wave-up 2s forwards;
  }
}

// Animations used only on the heart
@keyframes wave {
  0% {
    transform: rotate(0);
  }
  70% {
    transform: rotate(-360deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

@keyframes wave-up {
  0% {
    bottom: -100%;
  }
  100% {
    bottom: 0;
  }
}
