.restaurant-card {
  @include card;
  overflow: hidden;

  &__top {
    position: relative;
  }
  &__img {
    height: 18rem;
    object-fit: cover;
    width: 100%;
  }
  &__new {
    background-color: var(--color-tertiary);
    border-radius: var(--rounded-sm);
    color: var(--color-tertiary-dark);
    padding: var(--padding-btn-2);
    position: absolute;
    right: var(--padding-sm);
    top: var(--padding-sm);
  }
  &__bottom {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: var(--padding-sm);
    position: relative;
    & > .heart {
      margin-right: 2rem;
    }
  }
}
