.step-card {
  align-items: center;
  border-radius: var(--rounded);
  box-shadow: var(--shadow);
  cursor: pointer;
  display: flex;
  gap: var(--gap);
  padding: var(--padding-card);
  padding-right: var(--gap);
  position: relative;
  // number background size
  --width: 3rem;
  --height: 3rem;

  &__number {
    background-color: var(--color-primary);
    border-radius: 50%;
    color: var(--color-white);
    display: grid;
    height: var(--height);
    // Center the number in the left border of the container
    left: calc(var(--width) / 2 * -1);
    place-items: center;
    position: absolute;
    width: var(--width);
  }

  &__icon {
    color: gray;
    font-size: 2.5rem;
    // Icon has the same distance between text and icon
    padding-left: calc(var(--gap) + var(--width) / 2);
  }

  &__text {
  }

  &:hover {
    background-color: var(--color-primary-light-2);
  }

  &:hover &__icon {
    color: var(--color-primary);
  }
}
