.step-card {
  @include card;
  align-items: center;
  background-color: var(--color-gray-light-2);
  display: flex;
  gap: var(--gap);
  // Margin left so the card start from the left of the number circle
  margin-left: calc(var(--width) / 2);
  padding: var(--padding-card);
  padding-right: var(--gap);
  // number background size
  --width: 3rem;
  --height: 3rem;

  &__number {
    background-color: var(--color-primary);
    border-radius: 50%;
    color: var(--color-white);
    display: grid;
    height: var(--height);
    // Center the number in the left border of the container
    left: calc(var(--width) / 2 * -1);
    place-items: center;
    position: absolute;
    width: var(--width);
  }

  &__icon {
    color: gray;
    // Icon size
    font-size: 2.5rem;
    // justify text because icons have different sizes
    min-width: 6.35rem;
    // Icon has the same distance between text and icon
    padding-left: calc(var(--gap) + var(--width) / 2);
  }

  &__text {
  }

  &:hover {
    background-color: var(--color-primary-light-2);
  }

  &:hover &__icon {
    color: var(--color-primary);
  }
}
