// Shrikhand
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");

// Roboto
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

body {
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  font-weight: 100;
}

h1,
.menu-title__text {
  font-family: "Shrikhand", sans-serif;
  font-size: 3rem;
  font-weight: 100;
}

.menu-section__title {
  font-weight: 100;
  text-transform: uppercase;
}

h3,
h4 {
  font-size: 2.4rem;
}

button {
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  font-weight: 400;
}

.menu-card__price {
  font-weight: bold;
}

// "New" container inside restaurant
.restaurant-card__new {
  font-weight: 500;
}

.location,
.header__location,
.step-card__text {
  font-size: 1.7rem;
  font-weight: 500;
}

.spinning-loader__title {
  font-family: "Shrikhand", sans-serif;
  font-size: 5rem;
  font-weight: 100;
}

.footer {
  // Footer title
  &__title {
    font-family: "Shrikhand", sans-serif;
    font-size: 2rem;
    font-weight: 100;
  }
  // Footer text
  &__item {
    font-size: 1.7rem;
  }
}
