// Shrikhand
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");

// Roboto
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

body {
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  font-weight: 100;
}

h1 {
  font-family: "Shrikhand", sans-serif;
  font-size: 5rem;
}

button {
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  font-weight: 400;
}

// "New" restaurant
.restaurant-card__top > p {
  font-weight: 500;
}
