.explore {
  align-items: center;
  background-color: var(--color-gray-light-2);
  display: flex;
  flex-direction: column;
  padding: var(--padding-extra-lg) 0;
  text-align: center;

  &__title {
    padding-bottom: var(--padding-extra-lg);
  }

  &__text {
    padding-bottom: var(--padding-lg);
  }
}

.steps {
  @include container;
}

.restaurants {
  background-color: var(--color-gray-light-2);
  @include container;
}

.loading-animation {
  align-items: center;
  animation: opacity-hide 2s forwards, width-hide 2s forwards;
  background-color: var(--color-white);
  display: flex;
  flex-direction: column;
  gap: var(--gap-lg);
  height: 100%;
  justify-content: center;
  left: 0;
  overflow: hidden;
  position: fixed;
  width: 100%;
  z-index: 100;
}
