.explore {
  align-items: center;
  background-color: var(--color-gray-light-2);
  display: flex;
  flex-direction: column;
  padding: var(--padding-extra-lg) 0;
  text-align: center;

  & > h2 {
    padding-bottom: var(--padding-extra-lg);
  }

  & > p {
    padding-bottom: var(--padding-lg);
  }
}

.steps {
  @include container;
}

.restaurants {
  background-color: var(--color-gray-light-2);
  @include container;
}
