.explore {
  align-items: center;
  background-color: var(--color-gray-light-2);
  display: flex;
  flex-direction: column;
  padding: var(--padding-extra-lg) 0;
  text-align: center;

  & > h2 {
    padding-bottom: var(--padding-extra-lg);
  }

  & > p {
    padding-bottom: var(--padding-lg);
  }
}

.steps {
  @include container;
}

.restaurants {
  background-color: var(--color-gray-light-2);
  @include container;
}

.loading-animation {
  animation: opacity-hide 2s forwards, width-hide 2s forwards;
  background-color: var(--color-white);
  display: grid;
  height: 100%;
  left: 0;
  overflow: hidden;
  place-items: center;
  position: fixed;
  width: 100%;
  z-index: 100;
}
