.top-image {
  height: 25rem;
  object-fit: cover;
  width: 100%;
}

.menu {
  background-color: var(--color-gray-light);
  border-radius: var(--rounded-md);
  margin-top: calc(var(--rounded-md) * -1);
  min-height: 50rem;
  position: relative;
  @include container;

  &__title {
    align-items: center;
    display: flex;
    justify-content: space-between;

    & > .heart {
      margin-right: 2rem;
    }
  }
}
