// Mixins
@mixin card {
  border-radius: var(--rounded);
  box-shadow: var(--shadow);
  cursor: pointer;
  position: relative;
}

@mixin container {
  display: flex;
  flex-direction: column;
  gap: var(--gap-md);
  padding: var(--padding-extra-lg) var(--padding-md);
}

@mixin tablet {
  @media (min-width: $breakpoint-tablet) {
    @content;
  }
}

@mixin desktop-small {
  @media (min-width: $breakpoint-desktop-small) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: $breakpoint-desktop) {
    @content;
  }
}
