// Breakpoints
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1400px;

// Css native variables
body {
  // Percentage used to make the colors primary and secondary lighter
  // Slight light
  --color-mix-white-low: 90%;
  // Very light
  --color-mix-white-hight: 10%;

  // Colors
  --color-primary: #9356dc;
  --color-secondary: #ff79da;
  --color-tertiary: #99e2d0;
  --color-white: white;
  --color-gray: gray;

  // Lighter colors
  --color-primary-light: color-mix(
    in srgb,
    var(--color-primary) var(--color-mix-white-low),
    white
  );
  --color-primary-light-2: color-mix(
    in srgb,
    var(--color-primary) var(--color-mix-white-hight),
    white
  );
  --color-secondary-light: color-mix(
    in srgb,
    var(--color-secondary) var(--color-mix-white-low),
    white
  );
  --color-gray-light: color-mix(
    in srgb,
    var(--color-gray) calc(var(--color-mix-white-hight) * 1.5),
    white
  );
  --color-gray-light-2: color-mix(
    in srgb,
    var(--color-gray) calc(var(--color-mix-white-hight) / 1.5),
    white
  );

  // Darker Colors
  --color-tertiary-dark: color-mix(in srgb, var(--color-tertiary) 50%, black);
  --color-gray-dark: color-mix(
    in srgb,
    var(--color-gray) calc(var(--color-mix-white-hight) * 4),
    black
  );

  // Paddings
  --padding-btn: 2rem 3rem;
  --padding-btn-2: 0.5rem 3rem;
  --padding-card: 2rem 0rem;
  --padding-extra-sm: 0.5rem;
  --padding-sm: 1.5rem;
  --padding-md: 2.3rem;
  --padding-lg: 3rem;
  --padding-extra-lg: 4rem;

  // Margins

  // Gaps
  --gap-sm: 0.8rem;
  --gap: 2rem;
  --gap-md: 2.5rem;
  --gap-lg: 3.5rem;

  // Shadows
  --shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  --shadow-down: 4px 4px 6px rgba(0, 0, 0, 0.6);
  --shadow-active: 4px 4px 4px rgba(0, 0, 0, 0.7);

  // Border radius
  --rounded-big: 10rem;
  --rounded: 2rem;
  --rounded-sm: 0.5rem;
  --rounded-md: 5rem;

  // Transitions
  --slow: 0.4s;
  --fast: 0.1s;
  --transition-all-fast: all var(--fast) ease-in-out;
  --transition-all-slow: all var(--slow) ease-in-out;
}
