// Css native variables
body {
  // Percentage used to make the colors primary and secondary lighter
  // Slight light
  --color-mix-white-low: 90%;
  // Very light
  --color-mix-white-hight: 10%;

  // Colors
  --color-primary: #9356dc;
  --color-secondary: #ff79da;
  --color-tertiary: #99e2d0;
  --color-white: white;

  // Lighter colors
  --color-primary-light: color-mix(
    in srgb,
    var(--color-primary) var(--color-mix-white-low),
    white
  );
  --color-primary-light-2: color-mix(
    in srgb,
    var(--color-primary) var(--color-mix-white-hight),
    white
  );
  --color-secondary-light: color-mix(
    in srgb,
    var(--color-secondary) var(--color-mix-white-low),
    white
  );

  // Darker Colors
  --color-tertiary-dark: color-mix(in srgb, var(--color-tertiary) 50%, black);

  // Paddings
  --padding-btn: 2rem 3rem;
  --padding-btn-2: 0.5rem 3rem;
  --padding-card: 2rem 0rem;
  --padding-sm: 1.5rem;

  // Margins

  // Gaps
  --gap: 2rem;

  // Shadows
  --shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  --shadow-down: 4px 4px 6px rgba(0, 0, 0, 0.6);
  --shadow-active: 4px 4px 4px rgba(0, 0, 0, 0.7);

  // Border radius
  --rounded-big: 10rem;
  --rounded: 2rem;
  --rounded-sm: 0.5rem;

  // Transitions
  --transition-all-fast: all 0.1s ease-in-out;
}
